@use crate::search_result::OpdsPage;
@use crate::search_result::SearchResult;
@use crate::OpdsCategory;
@(header: &OpdsPage, result: &Option<SearchResult>, navs: &Option<Vec<OpdsCategory>>)
<?xml version="1.0" encoding="UTF-8"?>
  <feed xmlns:opds="http://opds-spec.org/2010/catalog" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://www.w3.org/2005/Atom" xmlns:thr="http://purl.org/syndication/thread/1.0" xml:lang="en" xmlns:opensearch="http://a9.com/-/spec/opensearch/1.1/" xmlns:app="http://www.w3.org/2007/app" xmlns:dc="http://purl.org/dc/terms/" xmlns:dcterms="http://purl.org/dc/terms/">
    <id>@header.id</id>
    <title>@header.title</title>
    <icon>favicon.png</icon>
    <updated>@header.date</updated>

    <link rel="start" title="Home"
          href="/opds"
          type="application/atom+xml;profile=opds-catalog;kind=navigation"/>
    <link rel="self"
          href="/opds"
          type="application/atom+xml;profile=opds-catalog;kind=navigation"/>
    <link rel="search" title="Search"
          href="/opds/search?query=@{searchTerms@}"
          type="application/opensearchdescription+xml"/>

@if let Some(navs) = &navs {
      @for nav in navs {
            <entry>
                  <title>@nav.title</title>
                  <id>@nav.id</id>
                  <content type="text"></content>
                  <link type="application/atom+xml;profile=opds-catalog;kind=navigation" href="@nav.url"/>
                  @if let Some(icon) = &nav.icon { <link href="icon" type="image/png" rel="http://opds-spec.org/image/thumbnail"/> }
                  <updated>@nav.moddate</updated>
            </entry>
      }
}

@if let Some(result) = &result {
      @for book in &result.books {
            <entry>
                  @if let Some(title) = &book.title { <title>@title</title> }
                  <id>@book.id</id>
                  @if let Some(moddate) = &book.moddate {<updated>@moddate</updated>}
                  @if let Some(creator) = &book.creator {
                        <author>
                              <name>@creator</name>
                        </author> 
                  }
                  <dc:language>en_US</dc:language>
                  @if let Some(pubdate) = &book.pubdate {<dcterms:issued>@pubdate</dcterms:issued>}
                  @if let Some(publisher) = &book.publisher {<dcterms:publisher>@publisher</dcterms:publisher>}
                  @if let Some(description) = &book.description {<summary type="text">@description</summary>}
                  @if let Some(cover_mime) = &book.cover_mime {
                        <link rel="http://opds-spec.org/image" href="/img/@book.id" type="@cover_mime"/>
                        <link rel="http://opds-spec.org/image/thumbnail" href="/img/@book.id" type="@cover_mime"/>
                        <link rel="http://opds-spec.org/acquisition" href="/api/book/@book.id" type="application/epub+zip"/>
                  }
            </entry>
      }
}

</feed>
